@import './bootstrap_custom.scss';

body,
html {
  height: 100%;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  padding: 144px 0 100px;
}
section {
  padding: 150px 0;
}
.bg-darkgreen {
  background-color: #2e7d32;
}
